<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Dashboard - SB Admin</title>
  <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
  <link href="css/styles.css" rel="stylesheet" />
  <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
<th:block th:replace="~{AdminTopBar :: Admintopbar}"></th:block>
<div id="layoutSidenav">
  <th:block th:replace="~{AdminSideBar :: AdminsideBar}"></th:block>

  <div id="layoutSidenav_content">
    <main>
      <div  class="wrapper-input container">
          <form th:action="@{/admin/add} " th:object="${sp}" method="post">
            <input type="hidden" th:field="*{maSp}">
            <div class="wrapper-label">
              <label for="title">Tên Sản phẩm:</label>
              <input placeholder="vui lòng nhập tên..." type="text"  id="title" th:field="*{tenSP}">
            </div>
            <div class="wrapper-label">
              <label for="author" >Đơn Giá:</label>
              <input  placeholder="vui lòng giá không được bé hơn 0..." type="text"  id="author" th:field="*{donGia}">
            </div >
            <div class="wrapper-label">
              <label for="price" >hình ảnh:</label>
              <input  placeholder="vui lòng chọn hình ảnh..." type="text"  id="price" th:field="*{hinhAnh}">
            </div>
            <div class="custom-file mb-2">
              <input type="file" name="file" class="custom-file-input" id="customFile">
              <label class="custom-file-label" for="customFile">Product Image</label>
              <input type="file" class="custom-file-input">
            </div>
            <div class="wrapper-label">
              <label for="loasp">Loại Sản Phẩm:</label>
              <select  id="loasp" name="ls.maLoai">
                <option value="">--Chọn Loại sản phẩm--</option>
                <option th:each="ls :${loaisp}" th:value="${ls.maLoai}"
                        th:text="${ls.tenLoai}"></option>
              </select>
            </div>
            <input type="submit" class="btn btn-primary" value="Save">
          </form>

      </div>
    </main>
    <th:block th:replace="~{FooterAdmin :: FooterAdmin}"></th:block>

  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="js/scripts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="assets/demo/chart-area-demo.js"></script>
<script src="assets/demo/chart-bar-demo.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
<script src="js/datatables-simple-demo.js"></script>
<script scr="js/jquey-3.1.1.min.js"></script>

</body>
</html>

<style>
  .wrapper-input {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  label {
    text-align: center;
  }

  input, select {
    width:100%;
    border-radius:10px;
    border:1px solid;
    padding: 1rem 2rem;
  }

  .wrapper-label {
    text-align: center;
    margin: 1rem 0;
  }

</style>